controllerManager:
  manager:
    containerSecurityContext:
      privileged: true
    image:
      repository: ghcr.io/whitestack/node-config-operator
      tag:
    healthPort: 8081
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  serviceAccount:
    annotations: {}
kubernetesClusterDomain: cluster.local
managerConfig:
  aptEnabled: false
  hostfsEnabled: false
  validationModulePresentEnabled: true
  ignoreNodeReady: false
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
webhookService:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  type: ClusterIP
