apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "chart.fullname" . }}-controller-manager
  labels:
    control-plane: controller-manager
  {{- include "chart.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
    {{- include "chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        control-plane: controller-manager
      {{- include "chart.selectorLabels" . | nindent 8 }}
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      containers:
      - args:
        - --health-probe-bind-address=:{{ .Values.controllerManager.manager.healthPort }}
        command:
        - /manager
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: HOSTFS_ENABLED
          valueFrom:
            configMapKeyRef:
              key: HOSTFS_ENABLED
              name: {{ include "chart.fullname" . }}-manager-config
        - name: APT_ENABLED
          valueFrom:
            configMapKeyRef:
              key: APT_ENABLED
              name: {{ include "chart.fullname" . }}-manager-config
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        image: {{ .Values.controllerManager.manager.image.repository }}:{{ .Values.controllerManager.manager.image.tag
          | default .Chart.AppVersion }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.controllerManager.manager.healthPort }}
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: {{ .Values.controllerManager.manager.healthPort }}
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.controllerManager.manager.resources | nindent 10
          }}
        securityContext: {{- toYaml .Values.controllerManager.manager.containerSecurityContext
          | nindent 10 }}
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
        - mountPath: /etc/sysctl.d
          name: sysctl-d
        - mountPath: /etc/sysctl.conf
          name: sysctl
        - mountPath: /etc/modules-load.d
          name: modules-load-d
        - mountPath: /lib/modules
          name: lib-modules
        - mountPath: /etc/host/hosts
          name: hosts
        {{- if .Values.managerConfig.hostfsEnabled }}
        - mountPath: /host
          name: host-fs
      hostIPC: true
      {{- end }}
      hostNetwork: true
      {{- if .Values.managerConfig.hostfsEnabled }}
      hostPID: true
      {{- end }}
      serviceAccountName: {{ include "chart.fullname" . }}-controller-manager
      terminationGracePeriodSeconds: 10
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: webhook-server-cert
      - hostPath:
          path: /etc/sysctl.d
          type: DirectoryOrCreate
        name: sysctl-d
      - hostPath:
          path: /etc/sysctl.conf
          type: FileOrCreate
        name: sysctl
      - hostPath:
          path: /etc/modules-load.d
          type: DirectoryOrCreate
        name: modules-load-d
      - hostPath:
          path: /lib/modules
          type: Directory
        name: lib-modules
      - hostPath:
          path: /etc/hosts
          type: File
        name: hosts
      {{- if .Values.managerConfig.hostfsEnabled }}
      - hostPath:
          path: /
          type: Directory
        name: host-fs
      {{- end }}
