apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: nodeconfigs.configuration.whitestack.com
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  labels:
  {{- include "chart.labels" . | nindent 4 }}
spec:
  group: configuration.whitestack.com
  names:
    kind: NodeConfig
    listKind: NodeConfigList
    plural: nodeconfigs
    singular: nodeconfig
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: NodeConfig is the Schema for the nodeconfigs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NodeConfigSpec defines the desired state of NodeConfig
            properties:
              aptPackages:
                description: List of apt packages to install
                properties:
                  packages:
                    items:
                      properties:
                        name:
                          type: string
                        version:
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                  state:
                    enum:
                    - present
                    - absent
                    type: string
                required:
                - packages
                - state
                type: object
              blockInFiles:
                description: List of blocks to add to files
                properties:
                  blocks:
                    items:
                      properties:
                        beginMarker:
                          default: '# BEGIN MARKER NCO'
                          description: Marker that signals the start of a block
                          type: string
                        content:
                          type: string
                        endMarker:
                          default: '# END MARKER NCO'
                          description: Marker that signals the end of the block
                          type: string
                        filename:
                          type: string
                      required:
                      - beginMarker
                      - content
                      - endMarker
                      - filename
                      type: object
                    type: array
                  state:
                    type: string
                required:
                - blocks
                - state
                type: object
              hosts:
                description: List of hosts to install to /etc/hosts
                properties:
                  hosts:
                    items:
                      properties:
                        hostname:
                          type: string
                        ip:
                          type: string
                      required:
                      - hostname
                      - ip
                      type: object
                    type: array
                  state:
                    type: string
                required:
                - hosts
                - state
                type: object
              kernelModules:
                description: List of kernel modules to load
                properties:
                  modules:
                    items:
                      type: string
                    type: array
                  state:
                    type: string
                required:
                - modules
                - state
                type: object
              kernelParameters:
                description: List of kernel parameters (sysctl). Each parameter should
                  contain name and value
                properties:
                  parameters:
                    items:
                      properties:
                        name:
                          description: Name of the kernel parameter (e.g. fs.file-max)
                          type: string
                        value:
                          description: Desired value of the kernel parameter
                          type: string
                      type: object
                    type: array
                  state:
                    type: string
                required:
                - parameters
                - state
                type: object
              nodeSelector:
                description: Defines the target nodes for this NodeConfig (optional,
                  default is apply to all nodes)
                items:
                  description: A label selector requirement is a selector that contains
                    values, a key, and an operator that relates the key and values.
                  properties:
                    key:
                      description: key is the label key that the selector applies to.
                      type: string
                    operator:
                      description: operator represents a key's relationship to a set
                        of values. Valid operators are In, NotIn, Exists and DoesNotExist.
                      type: string
                    values:
                      description: values is an array of string values. If the operator
                        is In or NotIn, the values array must be non-empty. If the operator
                        is Exists or DoesNotExist, the values array must be empty. This
                        array is replaced during a strategic merge patch.
                      items:
                        type: string
                      type: array
                  required:
                  - key
                  - operator
                  type: object
                type: array
              systemdOverrides:
                description: List of systemd overrides to add to existing systemd units
                properties:
                  overrides:
                    items:
                      properties:
                        file:
                          description: Contents of file
                          type: string
                        name:
                          description: Name of unit to override, must have service or
                            slice suffix
                          type: string
                      required:
                      - file
                      - name
                      type: object
                    type: array
                  state:
                    type: string
                required:
                - overrides
                - state
                type: object
              systemdUnits:
                description: List of systemd units to install
                properties:
                  state:
                    type: string
                  units:
                    items:
                      properties:
                        file:
                          description: Contents of the systemd unit
                          type: string
                        name:
                          description: Name of the service. A "nco" prefix will be appended
                          type: string
                      required:
                      - file
                      - name
                      type: object
                    type: array
                required:
                - state
                - units
                type: object
            type: object
          status:
            description: NodeConfigStatus defines the observed state of NodeConfig
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []